[submodule "os"]
	path = os
	url = https://github.com/mundinhocomunicacao-ctrl/mundinho-os-live.git
	branch = executor/render-wrapper-ee6e-for-70c6bf57

[submodule "morada"]
	path = morada
	url = https://github.com/mundinhocomunicacao-ctrl/johnny-oliveira-bran.git
	branch = main
