[submodule "os"]
	path = os
	url = https://github.com/mundinhocomunicacao-ctrl/mundinho-os-live.git
	branch = mirror/gitlab-main-1704e722

[submodule "morada"]
	path = morada
	url = https://github.com/mundinhocomunicacao-ctrl/johnny-oliveira-bran.git
	branch = main
