[submodule "os"]
	path = os
	url = https://github.com/mundinhocomunicacao-ctrl/mundinho-os-live.git
	branch = sync/os-e7cd45bf-20260928

[submodule "morada"]
	path = morada
	url = https://github.com/mundinhocomunicacao-ctrl/johnny-oliveira-bran.git
	branch = main
